.container {
	padding: 1em 0;
}

form {
	padding: 1em;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links-criacao {
	display: flex;
	flex-direction: column;
}

.links-criacao a {
	margin-bottom: .5em;
}

.botoes-conta a {
	color: white;
}
.botoes-conta form {
	padding: 0;
}

.botoes-conta a:hover {
	text-decoration: none;
}

.nova-conta {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0;
}

.nova-conta button {
	margin: .5em 0 1.8em 0;
}

.nova-conta form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: .5em;
}

.filtrar {
	width: 100%;
	display: flex;
	margin: 0;
}
.titulo-filtro{
	font-weight: bold;
	margin-right: 10px;
}

.search {
	width: 100%;
	display: flex;
	align-items: center;
}

.search button {
	margin: 0;
	margin-left: .5em;
}

select {
	margin: 0 0 0 1em;
}
/* CONTAS */
.contas {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* CARD */
.card {
	height: 18em;
	width: 19em;
	border: 1px solid #545454;
	margin: 0 auto;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-header {
	background-color: #545454;
	display: flex;
	justify-content: space-between;
}

.card-header small {
	font-size: 1em;
}

.card-body-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.movimentacoes {
	margin-bottom: auto;
}

.data-inicio {
	color: lightgreen;
}

.data-fim {
	color: #f94949;
}

.cliente {
	flex-grow: 1;
}

small {
	font-size: 1.10em;
	color: #aaa;
}

.cliente {
	margin-bottom: 1.5em;
}

@media ( min-width : 576px) and (max-width: 768px) {
	.filtrar {
		margin-bottom: .5em !important;
	}
	.nav-link {
		padding: 0.5rem 1rem;
	}
	.form-control {
		flex-grow: 1;
	}
}

@media ( min-width : 768px) {
	form {
		padding: 0;
	}
	main {
		align-items: inherit;
	}
	.links-criacao {
		flex-direction: row;
	}
	.links-criacao a {
		margin: 0 .3em;
	}
	.nova-conta {
		/*flex-direction: row;*/
		margin-bottom: 2em;
	}
	.nova-conta button {
		margin: 0;
	}
	.nova-conta form {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: auto;
		padding: .5em;
	}
	.filtrar {
		width: auto;
		display: flex;
		margin: 0;
	}
	.search {
		width: auto;
		display: flex;
		align-items: center;
	}
	select {
		margin-left: .5em;
	}
	.search input {
		margin: 0 .5em;
	}
	.search button {
		margin: 0;
	}
	.card {
		margin: .5em;
	}
	.nav-link {
		padding: 0.5rem 1rem;
	}
}

@media ( min-width : 992px) {
	.nova-conta {
		flex-direction: row;
		margin-bottom: 2em;
	}
}

@media ( min-width : 1200px) {
	.card {
		width: 23em;
	}
}