html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.container-fluid {
	padding: 0;
	flex: 1 0 auto;
	min-height: calc(100% - 3em);
}

c:url{
	height: 100%;
}
.label-filtro{
	margin-left: 1em;
}