table {
	width: 100%;
	border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
	background: #dbe0ff;
}

.td-concilia {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 11px 0;
}

.td-concilia button {
	all: initial;
}

.td-concilia img {
	height: 25px;
	margin: 0 .3em;
}

th {
	background: #000;
	color: white;
	font-weight: bold;
}

tr th {
	border-right: 1px solid #516274;
	border-left: 1px solid #516274;
}

td, th {
	padding: 6px;
	/* 	border: 1px solid #ccc; */
	text-align: left;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px) , ( min-device-width : 768px)
	and (max-device-width: 1024px) {
	/* Force table to not be like tables anymore */
	.td-concilia {
		justify-content: flex-start;
		padding-left: 50%;
	}
	.td-concilia img:first-child {
		margin: 0 .3em 0 0;
	}
	.td-remover {
		display: flex;
		justify-content: flex-start;
	}
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	tr {
		border: 1px solid #ccc;
	}
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before {
		content: "Responsável";
	}
	td:nth-of-type(2):before {
		content: "Descrição";
	}
	td:nth-of-type(3):before {
		content: "Valor";
	}
	td:nth-of-type(4):before {
		content: "Tipo";
	}
	td:nth-of-type(5):before {
		content: "Conciliada";
	}
	td:nth-of-type(6):before {
		content: "Conciliar?";
	}
	td:nth-of-type(7):before {
		content: "Remover?";
	}
}